# Entorno virtual
myenv/
venv/
.env/

# Archivos de base de datos locales
*.sqlite3
db.sqlite3

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos de caché
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de log
*.log

# Archivos de migración
*/migrations/*.py
*/migrations/*.pyc

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.bak

# Archivos de configuración del sistema operativo
*.swp

# Archivos de configuración específicos del proyecto
*.env
